@page
@model LibMan.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Photo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Photo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.User.UserId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
